.phoneMain{
    position: relative;
    z-index: 5;
    font-size: x-large;
    text-shadow: 5px 5px 10px black;
    a{
        text-decoration: none;
        font-weight: 700;
        color: white;
    }
}