video[poster] {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: .7;
    object-fit: cover;
}
video{
    position: absolute;
    left: 0;
    top: 0;
}

@media screen and (min-width: 1399px) {
    video[poster] {
        height: 100vh;
    }
}